@using MuenYang.SMZG.Web.Models
@{
    var newItemsList = (ViewBag.NewItemList == null) ? new List<ItemListItem>() : ViewBag.NewItemList;

    var basePlayerUrl = "http://swtychina.com/gb/audiodoc";
    //var basePlayerUrl = "http://mp3.swtychina.com";
    var nCount = 1;
    var SwtyItemStyle = new string[] { "row mccItembackground", "row mccItem" };
}

<div class="newItems-section">
    <div id="NewItems" class="container">
        <h1>@L("NewItems")</h1>
        <p class="text-center lead">@L("NewItemsDetail")</p>
        <div class="row item-title">
            <div class="col-sm-10"><div class="fl"><strong>@L("NewItemsList")</strong></div></div>
            <div class="col-sm-2">
                <div class="fr">
                    @Html.ActionLink(L("MoreItems") + ">", "SwtychinaTime", null, new { target = "_blank" })
                </div>
            </div>

            @*<div class="col-sm-2 col-xs-6"><strong>节目时间</strong></div>
                <div class="col-sm-1"><strong>收听</strong></div>
                <div class="col-sm-1"><strong>下载</strong></div>*@
        </div>
        <div class="row item-title-hr"> <hr style="margin-bottom:5px;margin-top:2px;" /></div>
        @foreach (var temp in newItemsList)
        {
            if (nCount > 10) { break; }
            var Url = basePlayerUrl;
            var year_month_day = temp.date.Split('-');
            if (year_month_day.Length != 3)
            {
                Url = basePlayerUrl + "2018/201801/20180101.mp3";
            }
            else
            {
                var year = year_month_day[0];
                var month = year + year_month_day[1];
                var day = month + year_month_day[2];
                Url = basePlayerUrl + "/" + year + "/" + month + "/" + day + ".mp3";
            }

            <div class="@SwtyItemStyle[(nCount%2)] songlist__item">

                @if (ViewBag.IsMobileBrowser != null & !ViewBag.IsMobileBrowser)
                {
                    <div class="fl item-name" style="line-height:2.5">@temp.title (@temp.date)</div>
                    <div class="fl" onclick="playMe(this);" playurl=@Url id=@nCount>
                        <a href="javascript:void(0)" class="list_menu__item list_menu__play">
                            <i class="list_menu__icon_play"></i>
                        </a>
                    </div>
                    <div class="fl" id="download-div">
                        <a href="@Url" class="list_menu__item list_menu__down" target="_blank" title="请右键另存为下载">
                            <i class="list_menu__icon_down"></i>
                        </a>
                    </div>
                }
                else
                {
                    <div class="fl" onclick="playMe(this);" playurl=@Url id=@nCount>@temp.title (@temp.date)</div>
                }

            </div>
            nCount++;
        }
    </div>
</div>

<!-- Album index section begin -->
<div class="album-index-section">
    <div class="container album-index-list">
        <h1>@L("AlbumRecommend")</h1>
        <p class="text-center lead">@L("AlbumRecommendDetail")</p>
        <!-- Three columns of text below the carousel -->
        <div class="">
            <div class="col-lg-3">
                <a href="~/Swty/Detail?albumName=@L("SliderAlbum8")"><img class="img-rounded center-block" src="~/Content/images/Album/@L("SliderPic8")" width="80%" /></a>
                <p><strong>@L("SliderAlbumName8")</strong></p>
                <p>@L("SliderAlbumName8Intro")</p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-3">
                <a href="~/Swty/Detail?albumName=@L("SliderAlbum9")"><img class="img-rounded center-block" src="~/Content/images/Album/@L("SliderPic9")" width="80%" /></a>
                <p><strong>@L("SliderAlbumName9")</strong></p>
                <p>@L("SliderAlbumName9Intro")</p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-3">
                <a href="~/Swty/Detail?albumName=@L("SliderAlbum10")"><img class="img-rounded center-block" src="~/Content/images/Album/@L("SliderPic10")" width="80%" /></a>
                <p><strong>@L("SliderAlbumName10")</strong></p>
                <p>@L("SliderAlbumName10Intro")</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <a href="~/Swty/Detail?albumName=@L("SliderAlbum10")"><img class="img-rounded center-block" src="~/Content/images/Album/@L("SliderPic10")" width="80%" /></a>
                <p><strong>@L("SliderAlbumName10")</strong></p>
                <p>@L("SliderAlbumName10Intro")</p>
            </div><!-- /.col-lg-4 -->
            <p class="fr"><a class="btn btn-primary" href="~/Swty/SwtychinaAlbum" role="button">@L("MoreItems") &raquo;</a></p>
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->
    </div><!-- /.container -->
</div>
<!-- Album index section end -->
