@{
    var albumdetail = "~/Album/Detail?albumName=";
}

    <div id="certify">        
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="~/Swty/Detail?albumName=@L("SliderAlbum1")"><img src="~/Content/images/Album/@L("SliderPic1")" /></a>
                    <p>@L("SliderAlbumName1")</p>
                </div>
                <div class="swiper-slide">
                    <a href="~/Swty/Detail?albumName=@L("SliderAlbum2")"><img src="~/Content/images/Album/@L("SliderPic2")" /></a>
                    <p>@L("SliderAlbumName2")</p>
                </div>
                <div class="swiper-slide">
                    <a href="~/Swty/Detail?albumName=@L("SliderAlbum3")"><img src="~/Content/images/Album/@L("SliderPic3")" /></a>
                    <p>@L("SliderAlbumName3")</p>
                </div>
                <div class="swiper-slide">
                    <a href="~/Swty/Detail?albumName=@L("SliderAlbum4")"><img src="~/Content/images/Album/@L("SliderPic4")" /></a>
                    <p>@L("SliderAlbumName4")</p>
                </div>
                @*<div class="swiper-slide">
                    <a href="~/Swty/Detail?albumName=@L("SliderAlbum5")"><img src="~/Content/images/Album/@L("SliderPic5")" /></a>
                    <p>@L("SliderAlbumName5")</p>
                </div>
                <div class="swiper-slide">
                    <a href="~/Swty/Detail?albumName=@L("SliderAlbum6")"><img src="~/Content/images/Album/@L("SliderPic6")" /></a>
                    <p>@L("SliderAlbumName6")</p>
                </div>
                <div class="swiper-slide">
                    <a href="~/Album/Detail?albumName=@L("SliderAlbum7")"><img src="~/Content/images/Album/@L("SliderPic7")" /></a>
                    <p>@L("SliderAlbumName7")</p>
                </div>*@
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>        
    </div>
